<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.qa.Utility.Reporting"></listener>
</listeners>
 <parameter name="Browser" value="Chrome">
 <test thread-count="5" name="Testing ">
 <parameter name="Url" value="https://www.snapdeal.com/"/>
 
 <classes>
   <class name="com.qa.tests.SnapDeal"></class>
      </classes>
      
   
 </test>
 </parameter>
 
 </suite>